/* Utilities */
@font-face {
    font-family: 'TTLakes-Regular'; 
    src: url(fonts/TTLakes-Regular.woff) format('woff');
  }
@font-face {
    font-family: 'TTLakes-Medium'; 
    src: url(fonts/TTLakes-Medium.woff) format('woff');
  }
@font-face {
    font-family: 'TTLakes-Bold'; 
    src: url(fonts/TTLakes-Bold.woff) format('woff');
  }

  * { 
    max-width: 1400px;
    font-family: TTLakes-Regular;
  }

  body {
    width: 1400px;
    height: 1925px;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 40px;
    margin-top: 0;
    background-color: #F8F8F8;
  }

  button:hover {
    cursor: pointer;
  }

  /* Navbar header-up */
  header {
    width: 1120px;
    float: right;
    margin-left: 20px;
    margin-top: 25px;
  }

  .header__up  {
     display: flex;
     flex-direction: row;
     align-items: center;
  }

  h1 {
    flex: 3;
    padding-left: 45px;
    font-family: TTLakes-Bold;
    border-left: #41F6D7 solid 4px;
    margin-left: -38px;

  }
  .header__up button {
    flex: 1;
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: TTLakes-Medium;
    color: #1B1C21;
    background-color: #F8F8F8;
  }

  .header__up button img {
    display: flex;
    margin: 15px
  }

  /* Navbar */

  .navbar button {
    display: inline-block;
    margin: 10px;
    font-size: 16px;
    background-color: #F8F8F8;
    color: #7E7E82;
  }

  .navbar__ordinary-button {
    border: none;
    padding: 10px;
    
  }
  .navbar__premium-button {
    background-color: white !important;
    padding: 10px;
    border: 1px solid #41F6D7;
    border-radius: 8px;
  } 

  /* Sidebar */
  aside {
    background-color: white;
    height: 2090px;
  }

  section #sidebar {
    width: 320px;
    height: 1956px;
    float: left;
  }

  .sidebar__header {
    width: 320px;
    display: flex;
    justify-content: space-between;
    background: white;
    margin-top: 15px;
  }

  .sidebar__header img {
    margin: 20px;
    margin-left: 60px;
  }

  .sidebar__header img:hover {
    cursor: pointer;
  }

  .sidebar__menu ul {
    list-style: none;
    padding: 0;
    margin-bottom: 120px;
    margin-left: 30px;
  }

  .sidebar__menu ul li {
    padding: 25px 0px 15px 30px;
  }

  .sidebar__menu ul li button {
    border: none;
    font-size: 16px;
    background-color: white
  }

  .sidebar__menu ul li .current {
    color: #7E7E82;
    border-left: #41F6D7 4px solid;
    margin-left: -20px;
    padding-left: 20px;
  }
    
  .sidebar__footer__buttons {
    width: 150px;
    display: flex;
    flex: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .sidebar__footer__buttons:hover {
    cursor: pointer;
  }

  .sidebar__footer {
    margin-left: 70px;
  }

  .sidebar__footer__contacts .email {
    font-size: 16px;
    color: #1B1C21;
    margin-bottom: 30px;
  }

  .sidebar__footer__contacts .phone-number {
    font-family: TTLakes-Bold;
    font-size: 24px;
    margin-bottom: 15px;
  }

  .sidebar__footer__languages {
    display: flex;
    flex-direction: row;
  }

  .sidebar__footer__languages div {
    margin-right: 10px;
    font-size: 16px;
    color: #1B1C21;
  }

  .sidebar__footer__languages div:hover {
    cursor: pointer;
    text-shadow: #6f6b6d 2px 2px 3px;
  }

  .sidebar__footer__languages .lang-2, .lang-3 {
    font-family: TTLakes-Medium;
  }

  /* Section About */
  .box {
    margin-left: 30px;
    display: flex;
    width: 1100px;
    height: 160px;
    font-size: 14px;
    color:  #1B1C21;
  }

  .about__text {
    width: 490px;
    height: 160px;
    font-size: 14px;
    color:  #1B1C21;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

  .about__text-1 {
    margin-bottom: 25px;
  }

  .about__picture {
    width: 531.35px;
    height: 307px;
    margin-right: 0px;
  }

  .read-more {
    margin-top: 30px;
    margin-left: 40px;
  }

  .read-more button {
    border: none;
    background-color: #F8F8F8;
    font-family: TTLakes-Medium;
    margin-bottom: 120px;

  }

  .read-more button img {
    margin-right: 10px;
  }


  /* Section Brands */

  .brands {
    display: block;
  }

  .brands__title {
    display: block;
    padding: 20px;
    color: #7E7E82;
    font-size: 16px;
    background: linear-gradient(to right, #F8F8F8, #FFFFFF);
    margin-left: 20px;
    border-top: #D9FFF5 1px solid;
  }

.brands button {
    border: none;
    background-color: #F8F8F8;
    margin-left: 30px;
    margin-top: 30px;
    font-family: TTLakes-Medium;
  }

  .brands__logos img {
    margin-right: 10px;
  }

  .brands .brands__logos {
    margin-left: 20px;
    margin-top: 25px;
  }

  .brands .brands__logos .logo {
    margin: 6px;
  }

  .brands .brands__logos .logo:hover {
    cursor: pointer;
  }

  .brands button img {
    margin-right: 10px;
  }

  /* Section Devices */

  .devices__title {
    padding: 20px;
    margin-left: 20px;
    margin-top: 50px;
    background: linear-gradient(to right, #F8F8F8, #FFFFFF);
    margin-bottom: 35px;
    border-top: #D9FFF5 1px solid;
    color: #7E7E82;
  }

  .devices__boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1100px;
  }

  .box-1 {
    width: 240px;
    height: 160px;
    background-color: #FFFFFF;
    border: #EAEAEA solid 1px;
    border-radius: 7px;
  }
  .box-2 {
    width: 240px;
    height: 160px;
    background-color: #FFFFFF;
    border: #EAEAEA solid 1px;
    border-radius: 7px;
  }
  .box-3 {
    width: 240px;
    height: 160px;
    background-color: #FFFFFF;
    border: #EAEAEA solid 1px;
    border-radius: 7px;
  }
  .box-4 {
    width: 240px;
    height: 160px;
    background-color: #FFFFFF;
    border: #EAEAEA solid 1px;
    border-radius: 7px;
  }

  .devices__boxes .box-1 img {
    position: relative;
    left: 180px;
    bottom: -50px;
  }

  .devices__boxes .box-2 img {
    position: relative;
    left: 180px;
    bottom: -50px;
  }

  .devices__boxes .box-3 img {
    position: relative;
    left: 180px;
    bottom: -50px;
  }

  .devices__boxes .box-4 img {
    position: relative;
    left: 181px;
    bottom: -50px;
  }

  .devices__boxes .box-1 img,
  .devices__boxes .box-2 img, 
  .devices__boxes .box-3 img, 
  .devices__boxes .box-4 img:hover {
    cursor: pointer;
  }

  .devices__boxes div p {
    margin-left: 20px;
    font-family: TTLakes-Medium;
    color: #1B1C21;
  }

  .devices button {
    border: none;
    background-color: #F8F8F8;
    margin-left: 30px;
    margin-top: 30px;
    font-family: TTLakes-Medium;
  }

  .devices button img {
    margin-right: 10px;
  }

  /* Section Prices */
  .prices__title {
    padding: 20px;
    background: linear-gradient(to right, #F8F8F8, #FFFFFF);
    margin-top: 50px;
    margin-left: 30px;
    border-top: #D9FFF5 1px solid;
    color: #7E7E82;
  }

  .prices__list {
    font-size: 14px;
    color: #1B1C21;
    background-color: #FFFFFF;
    padding-left: 20px;
    margin-left: 30px;
    width: 1056px;
    height: 324px;
    border-collapse: collapse;
    border-radius: 10px;
  }

  .prices__list tr:nth-child(2),
  .prices__list tr:nth-child(3),
  .prices__list tr:nth-child(4),
  .prices__list tr:nth-child(5) {
    border-bottom: #EAEAEA 1px solid;
  }

  .prices__list .prices__list__header {
    background-color: #F8F8F8; 
  }

  .prices__list tr td {
    color: #1B1C21;
    padding: 20px;
  }

  .prices__list tr td button {
    background-color: #FF3E79;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 7px 10px 7px;
    font-size: 12px;
    font-family: TTLakes-Medium;
    text-transform: uppercase;
    padding-left: 20px;
  }

  .prices__list tr td button img {
   margin-left: 12px;
   margin-right: 12px;
  }

    /* Footer */
    .footer__warning {
        color: #1B1C21;
        font-size: 14px;
        display: block;
        width: 421px;
        margin-left: 30px;
        line-height: 20px;
        margin-top: 35px;
    }

    .footer__get-offer a {
        text-decoration: none;
        color: #1B1C21;
        font-family: TTLakes-Medium;
        margin-left: 30px;
        margin-right: 10px;
    }

    .footer__get-offer a:hover {
        text-decoration: underline rgb(227, 71, 162);
    }

    .footer__container {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        margin-left: 30px;
        font-size: 14px;
        color: #7E7E82;
        justify-content: space-between;
        box-sizing: content-box;
        width: 1050px;
        align-items: center;
        margin-bottom: 40px;
        border-top: #D9FFF5 1px solid;
        padding: 40px;
    }

    .footer .footer__container .left {
        text-align: right;
    }

    /* Windows */



    



  












  

  

