aside {
    display: none;
}

body, footer {
    margin-left: 0px;
    width: 160%;
}

*, main {
    max-width: 768px;
}

html {
    max-width: 768px;
    height: 1750px;
}

main {
    overflow-x: hidden; 
  }

  body {
    height: 1750px;
  }

.tablet__hidden {
    display: none;
}

/* Hidden header */
.header__up button {
    display: none; 
}

h1 {
    margin: 25px;
    margin-left: 0px;
}

.header__hidden {
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    margin-top: none;
    margin-top: -23px;
}

.header__hidden__left,
.header__hidden__right {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.header__hidden__right button {
    margin: 5px;
}
 
.header__hidden__left-burger,
.header__hidden__left-logo {
   background-color: white;
   border: none;
   margin: 5px;
}

.header__hidden__left-burger img {
    padding-right: 20px;
    border-right: solid 3px rgb(237, 237, 237);
}

.header__hidden__left-logo img {
    padding-left: 15px;
}

.header__hidden__right-repair img {
    border-left: solid 3px rgb(237, 237, 237);
    padding-left: 20px;
}

.header__hidden__right-profile img{
    padding-right: 10px;
}

.header__hidden__right button {
   background-color: white;
   border-radius: 50%;
   border: none;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    overflow-x: auto;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 20px;
  }

.navbar button {
    display: flex;
    display: flex;
    white-space: nowrap;
}

/* About */
.box {
    width: 100%;
    
}

.about__text {
    width: 490px;
    margin-right: 0px;
    margin-top: 5px;
}

.about__picture img {
    width: 360px;
    height: 208px;
    margin-left: -25px;
}

.read-more {
    margin-top: 0px;
}

/* Brands */
.brands {
    margin-top: -60px;
    
}

.brands  .brands__logos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    width: 740px;
    margin-top: 15px;
  }

.brands__logos img {
    flex: 0 0 30%; 
    box-sizing: border-box; 
    margin: 0;
    width: 240px;
}

.logo-hidden {
    display: none;
}

.brands button {
    margin-top: 15px;
}

/* Devices */ 

.devices__title {
    margin-top: 30px;
}

.box-4 {
    display: none;
}

.devices__boxes {
    width: 740px;
}

.devices__boxes div {
    width: 224px;
}

.devices__boxes .box-1 img {
    position: relative;
    left: 160px;
    bottom: -55px;
  }

  .devices__boxes .box-2 img {
    position: relative;
    left: 160px;
    bottom: -55px;
  }

  .devices__boxes .box-3 img {
    position: relative;
    left: 160px;
    bottom: -55px;
  }

  .devices__boxes div p {
    margin-left: 20px;
    margin-top: 20px;
}

/* Price list */

.prices {
    width: 768px;
}

.prices__title {
    margin-top: 30px;
}

.prices__list {
    width: 720px;
    margin-left: 30px;
}

.prices__list tr td {
 padding: 13px;
}

/* Footer */

.footer__warning,
.footer__get-offer a {
    margin-left: 15px;
}


.footer__container {
    display: flex;
    flex: 0 0 20%; 
    box-sizing: border-box; 
    margin-left: -25px;
    margin-top: 30px;
    margin-bottom: 0px;
}





