/* Feedback */

@font-face {
    font-family: 'TTLakes-Regular'; 
    src: url(fonts/TTLakes-Regular.woff) format('woff');
  }
@font-face {
    font-family: 'TTLakes-Medium'; 
    src: url(fonts/TTLakes-Medium.woff) format('woff');
  }
@font-face {
    font-family: 'TTLakes-Bold'; 
    src: url(fonts/TTLakes-Bold.woff) format('woff');
  }

body {
   width: 1440px; 
}

.feedback {
    width: 513px;
    position: absolute;
    right: -700px;
    height: 100%;
}

h1 {
    font-family: TTLakes-Bold;
    font-size: 24px;
    margin-top: 30px;
    margin-left: 0,4px;
    border-left: 4px solid #41F6D7;
    padding-left: 27px;
}

.feedback__form {
    width: 440px;
    height: 1500px;
    box-shadow: -2px 2px 15px #dadbde;
    float: right;
    font-family: TTLakes-Regular;
    border-left: #41F6D7 0.5px solid;
    margin-top: -8px;
    margin-right: -20px;
}

.feedback__form ul {
    margin-left: -8px;
    list-style: none;
    font-size: 16px;
    color: #B5B6BC;
}

.feedback__form ul li input, textarea {
    padding: 12px;
    border: #EAEAEA 1px solid;
    border-radius: 6px;
    margin-bottom: 12px;
    width: 360px;
    font-family: TTLakes-Regular;
}

.feedback__form p {
    font-family: TTLakes-Regular;
    font-size: 14px;
    margin-left: 30px;
    width: 359px;
    color: #7E7E82;
}

.feedback__form p .primary {
    color: #FF3E79;
}

.feedback__form  button {
    background-color: #FF3E79;
    border: none;
    border-radius: 18px;
    padding: 8px 20px 8px 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: TTLakes-Medium;
    font-size: 12px;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
}

.feedback__form  button img {
    margin-left: 10px;
}

.feedback__toggler {
    z-index: 2;
    position: relative;
    top: 30px;
    right: 495px;
    float: right;
    padding: 15px;
    visibility: 
}

.feedback__toggler__close {
    z-index: -2;
    position: absolute;
    top: 20px;
    right: 485px;
    float: right;
}

.feedback__toggler:hover {
    cursor: pointer;
}

#message_input {
    height: 118px;
    overflow-y: auto;
}

button:hover {
    cursor: pointer;
}
    
    




